<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Webpack TypeScript BabylonJS Starter</title>
    <link href="https://fonts.googleapis.com/css2?family=Ceviche+One&family=Viga&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>
<body>

</body>
</html>
